.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
/* SHARED STYLE */
.btn-primary{
    padding: 18px 34px 18px 34px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: rgb(253, 110, 10);
    transition: 0.33s ease-in-out;
}
.secondary-bg {
    background-color: #FFF8F3;
}
.text-primary{
    color: #FD6E0A;
}
.dark-2 {
    color: #474747;
}
.dark-3 {
    color: #757575;
}
.dark-4 {
    color: #A3A3A3;
}
.section-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    margin-top: 30px;
    margin-bottom: 50px;
    color: #757575;
    font-size: 18px;
}
.btn-primary:hover {
    border: #FD6E0A solid 1px;
    background-color: #FFFFFF;
    color: rgb(253, 110, 10);
    transition: 0.3s ease-in-out;   
}
.text-center {
    text-align: center;
}
.header{
    background-image: url('../img/developer.png'), url('../img/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* NAV STYLES */
nav {
    display: flex;
    margin: 0 200px;
    align-items: center;
    justify-content: space-between;
}
.nav-title {
    font-size: 45px;
    font-weight: 800;
}
nav ul {
    display: flex; 
    align-items: center;
}
nav ul li {
    list-style: none;
    margin-right: 50px;
}
nav li a {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}
/* BANNER STYLE STARTS */
.banner {
    display: flex; 
    margin: 0 35px 0 200px;
    justify-content: space-between;
}
.banner-content {
    max-width: 580px;
}
.banner-greetings {
    margin: 0;
    font-size: 45px;
    font-weight: 600;
}
.banner-title {
    margin: 0;
    font-size: 85px;
    font-weight: bold;
}
.hardy-image-banner {
    width: 580px;
}
.p-banner-description{
    margin-top: 20px;
    max-width: 600px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.banner-btn {
    padding: 18px 34px 18px 34px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid rgb(253, 110, 10);
    border-radius: 5px;
    color: rgb(253, 110, 10);
    background-color: #FFFFFF;
    transition: 0.3s ease-in-out;
}
.banner-btn:hover {
    transition: 0.3s ease-in-out;
    color: #FFFFFF;
    background-color: rgb(253, 110, 10);
}
.banner-image{
    margin-right: 30px;
    margin-bottom: -4px;
}
/* BANNER STYLE END */
/* MAIN START */
main {
    max-width: 1440px;
    margin: 0 auto;
}
main section {
    margin-top: 130px;
    margin-bottom: 130px;
}
/* MAIN END */
/* ABOUT START */
.about {
    padding: 130px 150px;
    text-align: center;
    border-radius: 10px;
}
.about-items{
    margin-top: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item-description{
    font-weight: 600;
}
/* ABOUT END */
/* WHAT I DO / SKILL SECTION STYLE START */
.skills-container {
    display: flex;
    gap: 24px;
}
.skill {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-description{
    margin-right: 64px;
}
/* WHAT I DO / SKILL SECTION STYLE END */
/* RESUME STARTS */
.resume-container{
    display: flex;
    gap: 24px;
}
.experience-title {
    margin: 0;
}
.experience-sub-title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}
.section-title {
    text-align: center;
}
.resume-column {
    margin-right: 71px;
}
/* RESUME ENDS */
/* FOOTER STARTS */
footer {
    display: flex;
    padding: 130px 230px;
    gap: 100px;
}
.footer-column {
    width: 50%;
}
footer input[type="text"], footer input[type="email"], footer input[type="textarea"] {
    display: block;
    margin-bottom: 24px;
    padding: 10px 20px;
    height: 64px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-radius: 5px;
    background-color: white;
}
.d-f{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* FOOTER ENDS */