.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
/* SHARED STYLE */
.secondary-bg {
    background-color: #FFF8F3;
}
.text-primary{
    color: #FD6E0A;
}
.dark-2 {
    color: #474747;
}
.btn-primary{
    padding: 18px 34px 18px 34px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: rgb(253, 110, 10);
}
.section-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    align-content: center;
    color: #757575;
    font-size: 18px;
}
.btn-primary:hover {
    border: #FD6E0A solid 1px;
    background-color: #FFFFFF;
    color: rgb(253, 110, 10);
    transition: 0.3s ease-in-out;   
}
.header{
    background-image: url('../img/developer.png'), url('../img/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* NAV STYLES */
nav {
    display: flex;
    margin: 0 200px;
    align-items: center;
    justify-content: space-between;
}
.nav-title {
    font-size: 45px;
    font-weight: 800;
}
nav ul {
    display: flex; 
    align-items: center;
}
nav ul li {
    list-style: none;
    margin-right: 50px;
}
nav li a {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}
/* BANNER STYLE STARTS */
.banner {
    display: flex; 
    margin: 0 35px 0 200px;
    justify-content: space-between;
}
.banner-content {
    max-width: 580px;
}
.banner-greetings {
    margin: 0;
    font-size: 45px;
    font-weight: 600;
}
.banner-title {
    margin: 0;
    font-size: 85px;
    font-weight: bold;
}
.hardy-image-banner {
    width: 580px;
}
.p-banner-description{
    margin-top: 20px;
    max-width: 600px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.banner-btn {
    padding: 18px 34px 18px 34px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid rgb(253, 110, 10);
    border-radius: 5px;
    color: rgb(253, 110, 10);
    background-color: #FFFFFF;
    transition: 0.3s ease-in-out;
}
.banner-btn:hover {
    transition: 0.3s ease-in-out;
    color: #FFFFFF;
    background-color: rgb(253, 110, 10);
}
.banner-image{
    margin-right: 30px;
    margin-bottom: -4px;
}
/* BANNER STYLE END */
/* MAIN START */
main {
    max-width: 1440px;
    margin: 0 auto;
}
/* MAIN END */
/* ABOUT START */
.about {
    margin-top: 130px;
    padding: 130px 150px;
    text-align: center;
    border-radius: 10px;
}
.about-items{
    margin-top: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item-description{
    font-weight: 600;
}
/* ABOUT END */
